{% extends 'base.html' %}


{% block title %} Home {% endblock %}

{% block body %}

<div class="container">
    <br>
    <h3>Add Vital Information</h3>
    {% for field, errors in form.errors.items() %}
    {{ ', '.join(errors) }}
    {% endfor %}

<form class="form-horizontal" method="POST" action="" autocomplete="off">
    {{ form.csrf_token() }}

<div class="form-group">
    {{ form.sex.label }}
    {{ form.sex(class="form-control") }}
</div>
<div class="form-group">
    {{ form.height.label }}
    {{ form.height(class="form-control") }}
</div>
<div class="form-group">
    {{ form.weight.label }}
    {{ form.weight(class="form-control") }}
</div>

<div class="bootstrap-iso">
    <div class="form-group">
        {{ form.birthday.label }}
        {{ form.birthday(class="form-control", placeholder="Select") }}
    </div>
    </div>

<div class="form-group">
    {{ form.zipcode.label }}
    {{ form.zipcode(class="form-control") }}
</div>
<div class="form-group">
    {{ form.goal1.label }}
    {{ form.goal1(class="form-control", placeholder="Required") }}
</div>
<div class="form-group">
    {{ form.goal2.label }}
    {{ form.goal2(class="form-control", placeholder="Optional") }}
</div>
<div class="form-group">
    {{ form.goal3.label }}
    {{ form.goal3(class="form-control", placeholder="Optional") }}
</div>

<div class="bootstrap-iso">
<div class="form-group">
    {{ form.date.label }}
    {{ form.date(class="form-control", placeholder="Select") }}
</div>
</div>

<div class="form-group">
    {{ form.submit(class="btn btn-primary")}}
</div>
</form>

</div>

<!-- Bootstrap Date-Picker Plugin -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

<script>
    
    $(document).ready(function(){
      var date_input=$('input[name="birthday"]'); //our date input has the name "date"
      var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
      var options={
        format: 'yyyy-mm-dd',
        container: container,
        todayHighlight: true,
        autoclose: true,
      };
      date_input.datepicker(options);
    })

    $(document).ready(function(){
      var date_input=$('input[name="date"]'); //our date input has the name "date"
      var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
      var options={
        format: 'yyyy-mm-dd',
        container: container,
        todayHighlight: true,
        autoclose: true,
      };
      date_input.datepicker(options);
    })
</script>
{% endblock %}