<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %} {% endblock %}</title>

  <!-- CSS Bootstrap CDN Link -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <link href="/static/quotes.json" rel="">

  <!-- <img src="/static/junior404.jpg" alt="404 Page"> -->

  <style>
    #icon {
    animation-name: fadeIn;
    animation-duration: 8000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
  }
  
  @keyframes fadeIn {
    0% {opacity: 0.2;}
    50% {opacity: 1;}
    100% {opacity: 0.2;}
  }
  </style>

</head>

<body>



  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">

      <a class="navbar-brand" href="{{url_for('index')}}">ProTrainingLA</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
        <ul class="navbar-nav mr-auto">
          {% if current_user.is_authenticated %}
          <li class="nav-item active">
            <a class="nav-link" href="#">{{ name }}<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('add_vitals')}}">Add Vitals</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('AddWorkout')}}">Add Workout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('history')}}">View History</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('news')}}">News Search</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="mailto:mariosanchezjr12@gmail.com">Email Mario</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.venmo.com/Mario-SanchezJr" target="_blank">Buy Sessions</a>
          </li>
        </ul>

      </div>
    
    <a href="{{url_for('logout')}}"><button style="margin-right: 1em" class="btn btn-success navbar-btn">Logout</button>
    </a>

    {% else %}

    <a href="{{url_for('register')}}"><button class="btn btn-success navbar-btn">Signup</button> </a>
  
  </div>
  
    {% endif %}

  </nav>

  {% with messages = get_flashed_messages() %}

  {% if messages %}

  {% for message in messages %}

  <div class="alert alert-success alert-dismissable" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="close">
      <span aria-hidden="true">X</span>
    </button>

    {{message}}

  </div>
  {% endfor %}

  {% endif %}

  {% endwith %}

  <!-- JS, Popper.js, and jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>


  {% block body %}


  {% endblock %}




</body>

</html>