{% extends 'base.html' %}


{% block title %} Cardio History {% endblock %}

{% block body %}

<div class="container" id="exercises" style="text-align: center;">
  <br>
  <h3>{{ user }} Cardio History</h3>
  <br>
  
  <form action="{{ url_for('cardio_history') }}" method="POST" autocomplete="off">
    <label for="date">Date: </label>
    <select id="date" name="date" placeholder="Select">
      {% for ex in dates %}
    <option value="{{ ex }}">{{ ex.split('-')[1] + '/' + ex.split('-')[2] + '/' + ex.split('-')[0].split('0')[1] }}</option>
    {% endfor %}
    </select>
   
    <input style="margin-left: 1em;" class="btn btn-primary" type="submit" value="Submit">

</form>
<br>
  <table class="table table-dark">
    <thead class="thead-light">
      
      <tr>

        <th scope="col">Name</th>
        <th scope="col">Duration (minutes)</th>
        <th scope="col">Intensity</th>
        <th scope="col">Date</th>

      </tr>


    </thead>
    <tbody>
      {% for ex in exercises %}
      <tr>
        <td><a href="{{ url_for('EditCardio', id=ex.id) }}">{{ ex.name }}</a></td>
        <td>{{ ex.duration }}</td>
        <td>{{ ex.intensity }}</td>
        <td>{{ ex.date.split('-')[1] + '/' + ex.date.split('-')[2] + '/' + ex.date.split('-')[0].split('0')[1] }}</td>
        <td><a href="{{ url_for('DeleteWorkout', id=ex.id) }}"><button class="btn btn-danger navbar-btn"
          onclick="return confirm('Are you sure you wish to delete?');" style="width:fit-content;">X</button> </a>   
        </td>
      
      </tr>
      {% endfor %}

    </tbody>
  </table>

</div>

{% endblock %}