{% extends 'base.html' %}


{% block title %} Home {% endblock %}

{% block body %}

<div class="container" id="exercises" style="text-align: center;">
  <br>
  <h3>{{ user }} Cardio History</h3>
  <br>
  <table class="table table-dark">
    <thead class="thead-light">

      <tr>

        <th scope="col">Name</th>
        <th scope="col">Duration (seconds)</th>
        <th scope="col">Intensity</th>
        <th scope="col">Date</th>

      </tr>

    </thead>
    <tbody>
      {% for ex in exercises %}
      <tr>
        <td>{{ ex.name }}</td>
        <td>{{ ex.duration }}</td>
        <td>{{ ex.intensity }}</td>
        <td>{{ ex.date }}</td>
        <td style="width: 10em;"><a href="{{ url_for('EditCardio', id=ex.id) }}"><button
              class="btn btn-success navbar-btn" style="width: 5rem; margin-bottom: 0.2rem;">Edit</button> </a>
          <a href="{{ url_for('DeleteWorkout', id=ex.id) }}"><button class="btn btn-danger navbar-btn"
              onclick="return confirm('Are you sure you wish to delete?');" style="width: 5rem;">Delete</button> </a>
        </td>
      </tr>
      {% endfor %}

    </tbody>
  </table>

</div>

{% endblock %}