
{% extends 'base.html' %}


{% block title %} Charts {% endblock %}

{% block body %}

<div class="container" style="text-align: center;">
<br>
<h3>{{ month_text }} Workouts</h3>
    
<canvas id="myChart" ></canvas>

</div>
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
   
    type: 'scatter',
    data: {
        datasets: [{
            label: 'Exercises',
            data: [{
                {% for i in xy %}
                x: {{ i[0] }},
                y: {{ i[1] }}
            }, {
                {% endfor %}
            }],
            borderColor: '#2196f3',
            backgroundColor: '#2196f3',
            pointRadius: 3
        }]
    },
    options: {
        scales: {
            xAxes: [{
                scaleLabel: {
                display: true,
                labelString: 'Day of the Month'
                },
                ticks: {
                    min: 0,
                    stepSize: 2
                },
                type: 'linear',
                position: 'bottom'
            }],
            yAxes: [{
                scaleLabel: {
                display: true,
                labelString: 'Exercises'
                },
                ticks: {
                    // Include a dollar sign in the ticks
                    callback: function(value, index, values) {
                        return {{ exercises | tojson }}[value - 1]
                    },
                    stepSize: 1 
                }
            }]
        }
    }

});
</script>

{% endblock %}
