{% extends 'base.html' %}


{% block title %} History {% endblock %}

{% block body %}

<div class="container">
    <br>
    <h3>Workout History</h3>
    <br>

    <form action="{{ url_for('history') }}" method="POST">
        <input type="radio" id="cardio" name="type" value="cardio">
        <label for="cardio">Cardio</label><br>
        <input type="radio" id="resistance" name="type" value="resistance">
        <label for="resistance">Resistance</label><br>
        <button style="margin-top: 0.5em;" class="btn btn-primary" type="submit">Submit</button>
    </form>
    <br>
    <a href="{{ url_for('charts') }}"><button style="margin-top: 0.5em;" class="btn btn-secondary">Go to Charts</button></a>
</div>

{% endblock %}