{% extends 'base.html' %}


{% block title %} Home {% endblock %}

{% block body %}

<div id="home" class="jumbotron jumbotron-fluid">
  <div class="container" style="text-align: center;">
    <h1 class="display-5">Mario Sanchez, Jr. Personal Training</h1>
    <p class="lead">Effective * Safe * Personalized</p>
    <p class="lead">
      <a href="{{ url_for('register') }}"><button id="start" class="btn btn-success btn-lg">Register for Free</button></a>
    
    <br>
    <br>
    <hr>
    <h4 class="lead">Mario Sanchez, Jr.</h4>
   
    <p class="lead">Owner/Operator</p>
    <hr>

    <div>
      <h4>My Mission</h4>
          <h5>Deliver the most effective in-home health and fitness experience; professional, fun, engaging, and most importantly, safe.</h5>
              <br>
              <h5>Design personalized plans enabling the achievement of your goals.</h5>
              <br>
              <h5>I strive to make health and fitness easy to incorporate into your busy and demanding lifestyle and welcome those</h5>
              <h5>with even the most complex health conditions.</h5>
      </div>  
  
  </div>
</div>


  {% endblock %}