{% extends 'base.html' %}


{% block title %} Home {% endblock %}

{% block body %}

<div class="container" style="text-align: center;">
    <br>
    <h3>Welcome to ProTrainingLA</h3>
    <h5>Your Personal Fitness Portal</h4>
    <br>

    <div class="card" style="background-color: black; font-size: 0.8em; max-width: 90%; height:fit-content; margin: auto; border: 1px solid gray; border-radius: 25px;">
        
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p style="color: #96BBDE;">{{ quote.text }}</p>
            <footer class="blockquote-footer"><cite title="Source Title">{{ quote.author }}</cite></footer>
          </blockquote>
        </div>
      </div>
      <br>

<div class="card" style="width: 18rem; margin: auto; border: 1px solid gray; border-radius: 50px; background-color: #96BBDE; color: #FFF;">
    
    <img id="icon" class="card-img" src="{{ weather.icon }}" alt="Card image">

    <div class="card-img-overlay">
        <h5 class="card-title">{{ weather.name }}, {{weather.state}} Weather</h5>
        <p class="card-text">As of {{ weather.time }} on {{ weather.date }}</p>
        <h1 class="card-text">{{ weather.temp }}°</h1>
        <p class="card-text">Feels Like {{ weather.windchill }}°</p>
        <h2 class="card-text">{{ weather.condition }}</h2>
        
    </div>
</div>
<br>
<footer style="font-size: 0.8em;">Weather Provided By: <a href="https://rapidapi.com/weatherapi/api/weatherapi-com" target="_blank">weatherapi</a></footer>
</div>

{% endblock %}