{% extends 'base.html' %}


{% block title %} News {% endblock %}

{% block body %}

<div class="container" style="text-align: center;">
  <br>
  <h3>Your Fitness News Feed</h3>
  <br>
  <div>
    <form action="{{ url_for('news') }}" method="POST">
      Topic: <input type="text" name="search" id="search" placeholder="e.g., Nutrition"><br>
      Page: <input style="width: 5em; margin-top: 5px;" type="number" name="page" id="page" value="1">
      <br>
      <button style="margin-top: 0.5em;" class="btn btn-primary" type="submit">Search</button>
    </form>
  </div>
  <br>
  {% if news_list %}
  <div class="row">
    {% for news in news_list %}

    <div class="col-sm-3">
      <div class="card">
        <img class="card-img-top" src="{{ news.image_url }}" alt="{{ news.title }}">
        <div class="card-body">
          <h5 class="card-title">{{ news.title }}</h5>
          <p class="card-text">{{ news.date }}</p>
         
          <a href="{{ news.url }}" class="btn btn-primary" target="_blank">Visit {{ news.provider }}</a>
        </div>
      </div>
    </div>
    {% endfor %}

  </div>
  {% endif %}
  <!--  API source  -->
  <br>
  <footer style="font-size: 0.7em;">Data Provided By: <a href="https://rapidapi.com/contextualwebsearch/api/web-search" target="_blank">contextualwebsearch</a></footer>
</div>

{% endblock %}