{% extends 'base.html' %}


{% block title %} Resistance History {% endblock %}

{% block body %}

<div class="container" id="exercises" style="text-align: center;">
  <br>
  <h3>{{ user }} Resistance History</h3>
  <br>

  <form action="{{ url_for('resistance_history') }}" method="POST" autocomplete="off">
    <label for="date">Date: </label>
    <select id="date" name="date" placeholder="Select">
      {% for ex in dates %}
    <option value="{{ ex }}">{{ ex.split('-')[1] + '/' + ex.split('-')[2] + '/' + ex.split('-')[0].split('0')[1] }}</option>
    {% endfor %}
    </select>
    
    <input style="margin-left: 1em;" class="btn btn-primary" type="submit" value="Submit">

</form>
<br>

  <table class="table table-dark">
    <thead class="thead-light">
     
      <tr>

        <th scope="col">Name</th>
        
        <th scope="col">Weight (lbs)</th>
        
        <th scope="col">Sets</th>
        <th scope="col">Reps</th>
        <th scope="col">Date</th>
      </tr>
      
    </thead>
    <tbody>
      {% for ex in exercises %}
      {% if ex.weight != "" %}
      <tr>
        <td><a href="{{ url_for('EditResistance', id=ex.id) }}">{{ ex.name }}</a></td>
        
        <td>{{ ex.weight }}</td>
       
        <td>{{ ex.sets }}</td>
        <td>{{ ex.repetitions }}</td>
        <td>{{ ex.date.split('-')[1] + '/' + ex.date.split('-')[2] + '/' + ex.date.split('-')[0].split('0')[1] }}</td>
        <td><a href="{{ url_for('DeleteWorkout', id=ex.id) }}"><button class="btn btn-danger navbar-btn"
          onclick="return confirm('Are you sure you wish to delete?');" style="width:fit-content;">X</button> </a>
          
        </td>
      </tr>
      {% else %}
      <tr>
        <td><a href="{{ url_for('EditResistance', id=ex.id) }}">{{ ex.name }}</a></td>
        
        <td>body</td>
        <td>{{ ex.sets }}</td>
        <td>{{ ex.repetitions }}</td>
        <td>{{ ex.date.split('-')[1] + '/' + ex.date.split('-')[2] + '/' + ex.date.split('-')[0].split('0')[1] }}</td>
        <td><a href="{{ url_for('DeleteWorkout', id=ex.id) }}"><button class="btn btn-danger navbar-btn"
          onclick="return confirm('Are you sure you wish to delete?');" style="width:fit-content;">X</button> </a>
          
        </td>
      </tr>

       {% endif %}
      {% endfor %}

    </tbody>
  </table>

</div>

{% endblock %}